input[type=text],input[type=email],input[type=url] {

border-radius: 10px;
border: 2px solid rgba(0, 0, 0, 1);

}


textarea{
 
 border-radius: 5px;
 border: 2px solid black;

}
input[type=submit]{
    padding: 5px 10px;
    
    border-radius: 3px;
}
input[type=submit]:hover{
    box-shadow: 3px 3px 3px #201b1b3d;;
    
   

}

.newname{
    display: none;
}
button{
    align-self: center;
}
.newdiv{
    display: none;
}
.newdiv2{
    display: none;
}

