body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #fff;
     font-size: 16px;
     position: relative;
     width: 100%;
     height: 100%;
     background: linear-gradient(191.78deg, #00648e 0%, #7070e8 100%);
}
.bobCon {
     position: absolute;
     width: 2739.69px;
     height: 3619.65px;
     left: -1176px;
     top: -1395.82px;
}
.blob1 {
     position: absolute;
     left: -7.07%;
     right: -25.74%;
     top: 37.83%;
     bottom: 28.39%;

     background: #2bd9f5;
     transform: matrix(0.76, -0.89, -0.49, -0.74, 0, 0);
}
.blob2 {
     position: absolute;
     left: -5.09%;
     right: -27.72%;
     top: 39.9%;
     bottom: 26.32%;

     background: #00648e;
     border: 8px solid #1bc5fb;
     transform: matrix(0.76, -0.89, -0.49, -0.74, 0, 0);
}
h1 {
     left: 128px;
     top: 21px;

     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 30px;
     line-height: 96px;
     display: flex;
     align-items: center;
     letter-spacing: 0.02em;

     color: #ffffff;

     border: 10px solid #ffffff;
     box-sizing: border-box;
}
p1 {
     position: absolute;
     width: 2807px;
     height: 340px;
     left: 0px;
     top: 273px;

     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 64px;
     line-height: 96px;
     display: flex;
     align-items: center;
     letter-spacing: 0.02em;

     color: #000000;
}
select,
input[type='text'],
input[type='email'],
input[type='url'] {
     border-radius: 10px;
     border: 2px solid rgb(250, 246, 246);
}

textarea {
     border-radius: 5px;
     border: 2px solid black;
}
input[type='submit'] {
     padding: 5px 10px;

     border-radius: 3px;
}
input[type='submit']:hover {
     box-shadow: 3px 3px 3px #201b1b3d;
}

.newname {
     display: none;
}
button {
     align-self: center;
}
.newdiv {
     display: none;
}
.newdiv2 {
     display: none;
}
option {
     background-color: rgba(0, 0, 200, 0.2);
}

#dialog {
     background-color: rgb(10, 212, 111);
     color: rgb(0, 0, 0);
}

#dialogE {
     background-color: rgb(219, 44, 44);
     color: #fff;
}
