<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hackadon</title>
  

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
 
    <link rel="stylesheet" href="/stylesheets/inscription.css">


</head>
<body>
    <h1>regestration</h1>
    <div class='bobCon'>
    <div class="blob1"></div>
    <div class="blob2"></div> 
</div>  
    <p>you want to join to our compition ... what you stand fill out the following form to join to us for a long and exciting joutny awaits you</p>

   <form action='#' method="post">
    <% if(message){%>
        <% if(message=='done'){%>
            <div id="dialog" title="message">
                <p> thank u for regestration u will recive an email soon with more destails</p>
             </br>
                <a href='http://localhost:5000'>Back to home</a>
              </div>
        <%}else{%>
            <div id="dialogE" title="error message">
                <p> <%= message %> , try again </p>
              </div>
        <%}%>
        <%}%>
       <label for="firstName">First Name:</label>
       <input class="input" type="text" name="firstName" id="firstName"><br><br>
       <label for="lastName">LastName:</label>
       <input class="input" type="text" name="lastName" id="lastName"><br><br>
       <label for="email">email account:</label>
       <input class="input" type="email" name="email" id="email"><br><br>
      
       <br><br>
       <label for="schooln"> the name of your university (institution):</label>
       <input class="input" type="text" name="university" id="schooln"><br><br>
       <label for="edulevel">in which year are you currently studying:</label>

          <select name="edulevel" id="edulevel">
          <option value="firsty">first year (1CP)</option>
          <option value="secondy">Second year (2CP)</option>
          <option value="thirdy">third year (1CS)</option>
          <option value="fourthy">fourth year (2CS)</option>
          <option value="fifthy">fifth year (3CS)</option>
          </select>
       <p>Are you part of a team ?</p>
       <label for="teamy">yes</label>
       <input type="radio" name="teamY" id="teamy">
       <label for="teamn">no</label>
       <input type="radio" name="teamN" id="teamn" ><br><br>
       <div class="newdiv">
           <label for="teamName">what's your team name ?</label>
           <input type="text" name="teamName" id="teamName">
           <br>
           <a href="#" id="newteam">or create a new team</a>
       </div>
       <div class="newdiv2">
           <label for="newteam">what name do you want to give for your team ? </label>
           <input type="text" name="newTeam" id="newteam">
       </div><br><br>
       <label for="exp">Do you have a github account or a portfolio about yourself?</label>
       <input class="input" type="url" name="exp" id="exp" placeholder="if yes enter the url here"><br><br>
       <p>your main skills and experiences:</p>
       <textarea name="skills" id="skills" cols="30" rows="10"></textarea><br><br>
       <p>Why do you want to take part in the hack?</p>
       <textarea name="motiv" id="motiv" cols="30" rows="10"></textarea><br><br>
       <input type="submit" value="submit">

   </form>
  
   <script>
       document.getElementById("teamy").addEventListener("click",function(){
           document.querySelector(".newdiv").style.display="flex";
       })
       document.getElementById("newteam").addEventListener("click",function(){
           document.querySelector(".newdiv2").style.display="flex";
       })
       document.getElementById("newteam").addEventListener("click",function(){
           document.querySelector(".newdiv").style.display="none";
       })
        document.getElementById("teamn").addEventListener("click",function(){
           document.querySelector(".newdiv").style.display="none";
       })
       document.getElementById("teamn").addEventListener("click",function(){
           document.querySelector(".newdiv2").style.display="none";
       })
        document.getElementById("teamn").addEventListener("click",function(){
           document.getElementById("teamy").checked=false;
       })
       document.getElementById("teamy").addEventListener("click",function(){
           document.getElementById("teamn").checked=false;
       })
       document.getElementById("doanatBtn").addEventListener(
          
       )
   </script>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
      $( function() {
        $( "#dialog" )?.dialog();
      } );
      $( function() {
        $( "#dialogE" )?.dialog();
      } );

      </script>
      <script>
        if$(document).ready(function(){
($('.brands_slider').length)
{
var brandsSlider = $('.brands_slider');

brandsSlider.owlCarousel(
{
loop:true,
autoplay:true,
autoplayTimeout:5000,
nav:false,
dots:false,
autoWidth:true,
items:8,
margin:42
});

if($('.brands_prev').length)
{
var prev = $('.brands_prev');
prev.on('click', function()
{
brandsSlider.trigger('prev.owl.carousel');
});
}

if($('.brands_next').length)
{
var next = $('.brands_next');
next.on('click', function()
{
brandsSlider.trigger('next.owl.carousel');
});
}
}


});
        </script>
  
 
</body>
</html>
