<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hackadon</title>
    <link rel="stylesheet" href="/stylesheets/inscription.css">
</head>
<body>
    <p>To register in the hackadon please fill out the following form</p>
    
   <form action="#" method="post">
       <label for="firstName">First Name:</label>
       <input class="input" type="text" name="firstName" id="firstName"><br><br>
       <label for="lastName">LastName:</label>
       <input class="input" type="text" name="lastName" id="lastName"><br><br>
       <label for="email">email account:</label>
       <input class="input" type="email" name="email" id="email"><br><br>
       <p>Your academic background - Are you currently pursuing or did you pursue an academic or professional degree ?</p>
       <label for="yescurrent">yes,Iam</label>
       <input type="radio" name="academicbg" id="yescurrent">
       <label for="yesdid">yes,I did</label>
       <input type="radio" name="academicbg" id="yesdid">
       <label for="no">No ,I didn't</label>
       <input type="radio" name="academicbg" id="no">
       <br><br>
       <label for="schooln">if yes enter the name of your university (institution):</label>
       <input class="input" type="text" name="university" id="schooln"><br><br>
       <p>Are you part of a team ?</p>
       <label for="teamy">yes</label>
       <input type="radio" name="teamY" id="teamy">
       <label for="teamn">no</label>
       <input type="radio" name="teamN" id="teamn" ><br><br>
       <div class="newdiv">
           <label for="teamName">what's your team name ?</label>
           <input type="text" name="teamName" id="teamName">
           <br>
           <a href="#" id="newteam">or create a new team</a>
       </div>
       <div class="newdiv2">
           <label for="newteam">what name do you want to give for your team ? </label>
           <input type="text" name="newteam" id="newteam">
       </div><br><br>
       <label for="exp">Do you have a github account or a portfolio about yourself?</label>
       <input class="input" type="url" name="exp" id="exp" placeholder="if yes enter the url here"><br><br>
       <p>your main skills and experiences:</p>
       <textarea name="skills" id="skills" cols="30" rows="10"></textarea><br><br>
       <p>Why do you want to take part in the hack?</p>
       <textarea name="motiv" id="motiv" cols="30" rows="10"></textarea><br><br>
       <input type="submit" value="submit">

   </form>
  
   <script>
       document.getElementById("teamy").addEventListener("click",function(){
           document.querySelector(".newdiv").style.display="flex";
       })
       document.getElementById("newteam").addEventListener("click",function(){
           document.querySelector(".newdiv2").style.display="flex";
       })
       document.getElementById("newteam").addEventListener("click",function(){
           document.querySelector(".newdiv").style.display="none";
       })
   </script>
  
 
</body>
</html>
